*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.navBar{
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-container{
    width: 100%;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}
.tabs-leagues{
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
    color: white;
    height: 50px;
    border-right: 5px solid #cccc;
}
.tabs-standings{
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
    color: white;
    height: 50px;
    
}
.leagues-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
}
.league-div img{
    width: 200px;
    padding: 10px;
    margin: 20px;
}
.league-div:hover{
    transform: scale(1.1);
}
.league-div{
    padding: 10px;
    font-size: medium;
}
select{
    padding: 10px 15px;
    border-radius: 1vh;
    margin: 10px;
}
option{
    margin: 10px;
}
.select-container{
    display: flex;
    flex-direction: row;
}
.footer{
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}