*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.navBar{
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}
.tabs-leagues{
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
    color: white;
    height: 50px;
    border-right: 5px solid #cccc;
}
.tabs-standings{
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
    color: white;
    height: 50px;
    
}

.footer{
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}